<!-- class="nested-fields"　←ここ絶対に必要です -->
<div class="nested-fields">
  <table>
    <tr>
      <td class="">
        <%= f.text_field :name, :placeholder => "商品名" %>
      </td>
      <td class="">
        <%= f.text_field :amount, :placeholder => "数量" %>
      </td>
      <td class="td-fixed-delete">
        <!-- 削除ボタン -->
        <%= link_to_remove_association "削除", f %>
      </td>
    </tr>
  </table>
</div>