<div class="nested-fields">
  <table>
    <tr>
      <td class="">
        <%= f.text_area :description, :placeholder => "手順", class: 'form-control' %>
      </td>
      <td class="td-fixed-delete">
        <!-- 削除ボタン -->
        <%= link_to_remove_association "削除", f %>
      </td>
    </tr>
  </table>
</div>