<h2>ジャンルの編集</h2>
 <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
    <div class='from_input'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form_action">
      <%= f.submit "編集する", class: "btn btn-primary" %>
    </div>
 <% end %>