<h1>カテゴリ一覧</h1>
  <table class="table table-hover">
    <tbody>
      <% @genres.each do |cate| %>
        <tr>
          <td><%= link_to cate.name, posts_path(genre_id: cate.id) %></td>
          <td><%= cate.created_at.to_s(:datetime_jp) %>作成</td>
        </tr>
      <% end %>
    </tbody>
  </table>