<h2>ジャンルの追加</h2>
 <%= form_with model: @genre, local: true do |f| %>
    <div class='from_input'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form_action">
      <%= f.submit "登録する", class: "btn btn-primary" %>
    </div>
 <% end %>