<div class="container">
  <div class="row m-3">
    <div class="col offset-md-2">
      <h4>会員一覧</h4>
    </div>
  </div>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>氏名</th>
        <th>コメント</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @post_comments.each do |post_comment| %>
      <tr>
        <td><%= post_comment.user.name %></td>
        <td><%= post_comment.comment %></td>
        <td><%= link_to "削除", admin_post_comment_path(post_comment.recipe, post_comment), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="mx-auto">
      <%#= paginate @customer%>
    </div>
  </div>
</div>